h1{
    color: green;
}

.note{
    color: grey;
    padding: 2px;
    font-size: 20px;
    font-style: italic;
}

.notification{
    font-size: 30px;
    margin: 5px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed;
    border-color: red;
    color: red;
}